body,html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h2 {
    margin-top: 0;
}

main {
    width: 620px;
    margin: 20px auto;
    text-align: center;
}

#topSection {
    background: rgb(17, 16, 16);
    color: rgb(167, 158, 225);
    padding: 45px 0;
    border-radius: 10px 10px 0 0;
}

#bottomSection {
    padding: 20px 0;
    background-color: rgb(117, 117, 203);
    border-radius: 0 0 10px 10px;
}

#myNumber {
    border: solid 4px rgb(117, 117, 203);
    padding: 10px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    border-radius: 0.75em;
}

button {
    padding: 0.75em 1.5em;
    font-family: inherit;
    font-weight: 600;
    margin-left: 1em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color:rgb(117, 117, 203);
    border-radius: 0.75em;
}